<app-modal [modalInterface]="modalInterface" (onResponseUser)="responseUser($event)"></app-modal>
<div class="d-flex card">
  <img src="{{product.imgBase64}}">
  <div class="productDescription d-flex flex-column gap-3">
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="fw-bolder">{{product.name}}</h2>
      </div>
    </div>
    <div>
      <h2 class="fw-bolder">Preço:</h2>
      <div>R$ {{product.price}}</div>
      <h4 class="fw-bolder">Descrição do Produto:</h4>
      <div>{{product.description}}</div>
    </div>
  </div>
  <div>
    <div class="footer-card d-flex justify-content-end py-2 pe-3">
      <mat-icon (click)="[navigateTo('new-product'),setFormType(true,product)]">edit</mat-icon>
      <mat-icon (click)="[deleteProduct()]">delete</mat-icon>
    </div>
  </div>
</div>
