*{
  --height-img: 400px;
  --width-img: 100%;
  --card-border-radius:20px;
}

.card{
  border: 1px solid black;
  border-radius: var(--card-border-radius);
  transition: 0.5s transform;
  overflow: hidden;

}

.card:hover{
  transform: translateX(10px) translateY(-10px);
  transition: 0.5s transform;
  z-index: 1;
}

.productDescription{
  height: 250px;
  padding: 20px;
}

.footer-card{
  border-top: 1px solid #00000043;
}

img
{
  width: var(--width-img);
  height: var(--height-img);
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.notification{
  position: absolute;
  left: 70%;
  top: 2%;
  font-weight: bold;
  background-color: #3d3a3a;
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.4s;
}

@media (max-width: 890px){
  *{
    --height-img: 300px;
  }
}


@media (max-width: 735px){
  *{
    --height-img: 280px;
  }
}

@media (max-width: 700px){
  *{
    --height-img: 260px;
    --card-border-radius: 0px;
  }
}


@media (max-width: 550px){
  *{
    --height-img: 170px;
  }
}

@media (max-width: 470px){
  *{
    --height-img: 360px;
  }
}

@media (max-width: 400px){
  *{
    --height-img: 260px;
  }
}

@media (max-width: 300px){
  *{
    --height-img: 200px;
  }
}



