.card{
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.5s transform;
  overflow: hidden;

}

.card:hover{
  transform: translateX(10px) translateY(-10px);
  transition: 0.5s transform;
  z-index: 1;
}

.productDescription{
  height: 250px;
  padding: 20px;
}

.footer-card{
  border-top: 1px solid #00000043;
}

img
{
  width: 100%;
  height: 400px;
  border-bottom: 1px solid black;
  cursor: pointer;
}


