.left{
  position: absolute;
  left: 2%;
  top:30%;
}

.right{
  position: absolute;
  left: 95.2%;
  top:30%;
}

.indexNumber{
  position: absolute;
  left: 50%;
  top:30%;
}

.pagination{
  height: 90px;
}

