
*{
  --header-size: 12vh;
  --width-form: 25%;
}

.form-login{
  height: 100vh;
}

.form{
  height: fit-content;
  width: var(--width-form);
}

button{
  background-color: var(--main-color);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 1025px) {
  *{
    --width-form: 40%
  }
}

@media (max-width: 600px) {
  *{
    --width-form: 80%
  }
}
