<app-modal [modalInterface]="modalInterface" [hideButton]="true"></app-modal>
<div class="form-login header-padding d-flex justify-content-center">
  <div class="form bg-white mt-5 p-3 rounded-2 gap-3 d-flex flex-column border border-2 shadow-lg">
    <h2>Faça seu login</h2>
    <hr>
    <form  class="d-flex flex-column gap-2" [formGroup]="formLogin" (input)="teste()">
      <label class="fw-bold">Email</label>
      <input autocomplete="email" class="form-control" formControlName="email">
      <label class="fw-bold">Senha</label>
      <input class="form-control" type="password" formControlName="token">
    </form>
    <button (click)="login()">Entrar</button>
  </div>
</div>
