<app-modal (onResponseUser)="redirectPageCategory()" [hideButton]="hideButtonModal" [modalInterface]="modalInterface"></app-modal>
<div appFormProduct  class="page-form d-flex align-items-center justify-content-center padding-container header-padding">
  <div class="d-flex flex-column gap-4 border rounded-3 border-black">
    <div class="return-page p-2">
      <mat-icon (click)="returnButton()"
      data-bs-toggle="tooltip" data-bs-placement="top"
      data-bs-custom-class="custom-tooltip"
      data-bs-title="Retornar a página principal."
      >
      arrow_circle_left
    </mat-icon>
    </div>
    <form class="px-4 py-3 d-flex flex-column align-content-center gap-2" [formGroup]="formProduct" enctype="multipart/form-data">
      <label for="productImage">
        <div>
          <label class="fw-bold">Imagem do Produto</label>
          @if(!isUploadImg){
            <div class="place-holder d-flex align-items-center justify-content-center flex-column p-2">
              <mat-icon>upload_file</mat-icon>
              <p>Selecione um arquivo</p>
            </div>
          }
        </div>
        @if(isUploadImg){
          <img src="{{fileImg}}">
        }
      </label>
      <input  #inputFile (change)="setFile(inputFile)" type="file" id="productImage" e hidden>
      <div>
        <label class="fw-bold">Nome do Produto</label>
        <input class="form-control" type="text"  formControlName="name">
      </div>
      <div>
        <label class="fw-bold">Preço do Produto</label>
        <input class="form-control" type="text"  formControlName="price">
      </div>
      <div>
        <label class="fw-bold">Categoria do Produto</label>
        <select #selectCategory (change)="setSelectValue(selectCategory)" class="form-select" aria-label="Default select example">
          <option selected disabled>Escolha a categoria</option>
          @for(category of categorys; track $index){
            <option value="{{category.id}}">{{category.category}}</option>
          }
        </select>
      </div>
      <div>
        <label class="fw-bold">Descrição do Produto</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <div>
        <button (click)="sendForm()">Confirmar</button>
      </div>
    </form>
  </div>
</div>
