@keyframes slideUp{
  from{
    transform: translateY(100%);
  }
}

@keyframes slideRight{
  from{
    transform: translateX(-100%);
  }
}

*{
  --marca-width: 250px;
  --marca-height: 250px;
  --size-icon: 150px;
  --small-font: 1.5rem;
  --logo-width: 140px;
  --logo-height: 140px;
  --vl-height:  150px;
}


.animation-one{
  animation: slideUp 1s forwards;
}

.animation-two{
  animation: slideRight 1s forwards;
}

.input-search{
  width: 60%;
}

.search{
  margin-left: 8px;
}

.catalog-category{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  width: 100vw;
}

.add-product{
  cursor: pointer;
}

input{
  width: 40%;
}

.catalog{
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 2px 6px;
}

.category-header{
  top: 67px;
  position: sticky;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 100%;
}

.apresentation{
  background-color: rgba(103, 102, 102, 0.401);
}

.logo
{
  border: 7px solid #ab8315;
  background-color: #ffff00;
  border-radius: 50%;
  width: var(--logo-width);
  height: var(--logo-height);
  padding-left: 5px;
  margin-top: 16px;
}

.vl{
  margin-top: 7px;
  height: var(--vl-height);
  width: 5px;
  background-color: #ffffff;
  flex-shrink: 0;
}

.marca{
  color: #1f1f1fec;
  font-size: var(--size-icon);
  width: var(--marca-width);
  height: var(--marca-height);
  cursor: default;
}

small{
  font-size: 1.5rem;
}

.store-name{
  font-size: 4rem;
}

@media (max-width: 1030px){
  mat-icon{
    margin-top: 5px;
  }

  .search{
    margin-top: 12px !important;
  }
}

@media (max-width: 800px){
  .store-name{
    font-size: 3rem;
  }

  small{
    font-size: 1.4rem;
  }

  *{
    --logo-width: 100px;
    --logo-height: 100px;
    --size-icon: 100px;
    --vl-height: 100px;
  }
}

@media (max-width: 600px){
  .store-name{
    font-size: 2rem;
  }

  small{
    font-size: 1.3rem;
  }

  *{
    --logo-width: 80px;
    --logo-height: 80px;
    --size-icon: 80px;
    --vl-height: 80px;
  }
}

@media (max-width: 490px){

  .add-product p{
    font-size: 0.8rem !important;
    margin-top: 5px;
  }
}

@media (max-width: 400px){

  .animation{
    margin-top: 80px;
  }

  .store-name{
    font-size: 1.5rem;
  }

  small{
    font-size: 1rem;
  }

  *{
    --logo-width: 60px;
    --logo-height: 60px;
    --size-icon: 50px;
    --vl-height: 60px;
  }
}

@media (max-width: 360px){

  .category-header{
    flex-direction: column;
  }

}
