*{
  --header-size: 14vh;
}

.place-holder{
  height: 100px;
  border: 1px dashed black;
}

mat-icon{
  color: var(--main-color);
}

.return-page{
  height: 10px;
}

img{
  width: 60vw;
}

textarea{
  max-height: 170px;
}

button{
  background-color: var(--main-color);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 350px){
  .page-form{
    margin-top: 100px;
  }
}
