@keyframes slideUp{
  from{
    transform: translateY(100%);
  }
}

@keyframes slideRight{
  from{
    transform: translateX(-100%);
  }
}

.animation-one{
  animation: slideUp 1s forwards;
}

.animation-two{
  animation: slideRight 1s forwards;
}

.catalog-category{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

input{
  width: 40%;
}

.catalog{
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 2px 6px;
}

.catalog-exist{
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1.5rem;
  gap: 30px;
}

.catalog-notExist{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.sub-header{
  display: flex;
  justify-content: space-between;
}

.category-header{
  top: 70px;
  position: sticky;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid black;
}

.apresentation{
  background-color: rgba(103, 102, 102, 0.401);
}

.logo
{
  border: 7px solid #ab8315;
  background-color: #ffff00;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding-left: 5px;
  margin-top: 16px;
}

.vl{
  margin-top: 7px;
  height: 150px;
  width: 5px;
  background-color: #ffffff;
  flex-shrink: 0;
}

.marca{
  color: #1f1f1fec;
  font-size: 150px;
  width: 250px;
  height: 250px;
}

small{
  font-size: 1.5rem;
}

.store-name{
  font-size: 4rem;
}
