<div *ngIf="spinner">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!spinner">
  <div class="d-flex position-relative">
    <div class="apresentation gap-3 d-flex align-items-center justify-content-center position-absolute h-100 w-100">
      <div class="d-flex gap-4">
        <div class="d-flex gap-4 overflow-hidden">
          <div class="animation-one d-flex gap-4">
            <div class="logo">
              <div>
                <mat-icon class="marca">sports_gymnastics</mat-icon>
              </div>
            </div>
            <div class="vl"></div>
          </div>
        </div>
        <div class=" overflow-hidden">
          <div class="animation-two d-flex flex-column">
            <p class="store-name fw-bold text-white">Nunes Sports</p>
            <small class="fw-bold text-white">Live Better!</small>
          </div>
        </div>
      </div>
    </div>
    <img class="header-margin" src="/assets/imgs/Sport.jpg" width="100%">
  </div>
  <div class="w-100 position-relative d-flex align-items-start flex-column">
    <div class="w-100 category-header d-flex justify-content-center align-items-center p-3 ">
      <div class=" flex-grow-1">
        <h1>Categorias</h1>
      </div>
      <div class="flex-grow-1 gap-3 d-flex justify-content-end">
        <div class="add-product bg-black rounded-2 p-1 mt-2 d-flex align-content-center justify-content-center gap-1" (click)="[navigateTo('new-product'),setFormType(false)]">
          <mat-icon class="text-white">add_box</mat-icon>
          <p class="p-1 fs-5 fw-bolder text-white">Adicionar Produto</p>
        </div>
        <div class="flex-grow-1 d-flex position-relative">
          <mat-icon class="search mt-2 position-absolute">search</mat-icon>
          <input class="ps-5 form-control w-100">
        </div>
      </div>
      <hr>
    </div>
    <div class="w-100 catalog-category">
      <div class="d-flex flex-column row-gap-5 overflow-x-hidden padding-container">
        <app-catalog [productsCategory]="objectCategoryArray">

        </app-catalog>
      </div>
    </div>
  </div>
</div>


