<div class="d-flex flex-column gap-5">
  <div class="d-flex flex-column gap-4" *ngFor="let productCategory of productsCategory">
    <div class="sub-header">
      <div class="flex-grow-1">
        <h2>{{productCategory.categoryName}}</h2>
      </div>
      <div class="flex-grow-1 gap-3 d-flex justify-content-end ">
        <mat-icon>add_box</mat-icon>
        <mat-icon>search</mat-icon>
        <mat-icon>sports_soccer</mat-icon>
        <input class="form-control w-50">
      </div>
    </div>
    <div>
      <div class="catalog-exist catalog" *ngIf="productCategory.product.length > 0; else notFounded">
        <app-card *ngFor="let product of productCategory.product" [product]="product">

        </app-card>
      </div>
      <ng-template #notFounded>
        <div class="catalog-notExist catalog">
          <mat-icon>warning</mat-icon>
          <p>Ainda não há produtos cadastrados</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
