

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
  --icon-size: 40px;

 *{
  box-sizing: border-box;
 }

 .header-margin{
  margin-top: 8vh;
 }

 .padding-container{
  padding: 5rem;
 }

 mat-icon{
  display: flex;
  font-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  color: rgb(0, 0, 0);
  cursor: pointer;
 }

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
