

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
  --icon-size: 40px;
  --main-color: #45373e;

 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 .header-margin{
  margin-top: 8vh;
 }

 .padding-container{
  padding: 5rem;
 }

 mat-icon{
  display: flex;
  font-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  color: rgb(0, 0, 0);
  cursor: pointer;
 }

 @media (max-width:1030px){
  h2{
    font-size: 1.8rem;
   }

   h4{
    font-size: 1.4rem;
   }

   *{
    --icon-size: 30px;
   }
 }



 @media (max-width:800px){
  .padding-container{
    padding: 3rem 1.8rem;
   }

   h2{
    font-size: 1.4rem;
   }

   h4{
    font-size: 1.0rem;
   }

   *{
    --icon-size: 25px;
   }

 }

 @media (max-width:700px){
  .padding-container{
    padding: 3rem;
   }

 }



 @media (max-width:660px){
  .padding-container{
    padding: 3rem 0.3rem;
   }

 }

 @media (max-width:400px){
  .padding-container{
    padding: 4rem 0.6;
   }

 }

 @media (max-width: 340px){
  .padding-container{
    padding: 1rem 0.2rem;
   }

 }

}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
